In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('dataset/natural-disaster-events.csv')

In [6]:
df.groupby('Entity', as_index=False).count()

,Entity,Code,Year,Number of reported natural disasters (reported disasters)
0,All natural disasters,0,119,119
1,Drought,0,73,73
2,Earthquake,0,115,115
3,Extreme temperature,0,57,57
4,Extreme weather,0,115,115
5,Flood,0,95,95
6,Impact,0,1,1
7,Landslide,0,80,80
8,Mass movement (dry),0,33,33
9,Volcanic activity,0,78,78
10,Wildfire,0,62,62

In [10]:
df.rename(columns={df.columns[-1] : 'disasters'}, inplace=True)

In [11]:
df.set_index('Year')['disasters']

Year
1900     5
1901     2
1902     9
1903     8
1904     2
        ..
2014     4
2015    12
2016    10
2017    13
2018    10
Name: disasters, Length: 828, dtype: int64