In [1]:
import pandas as pd

In [3]:
df = pd.read_excel('dataset/flood_damage.xls')

WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

In [4]:
df.head()

,Sl.No\n - India,Year,Area affected in m.ha. - India,Population affected in million - India,Damage to Crops - Area in m. ha. - India,Damage to Crops - Value in Rs.Crore - India,Damage to Houses - Nos. - India,Damage to Houses - Value in Rs.Crore - India,Cattle Lost Nos. - India,Human live Lost Nos. - India,...,Area affected in m.ha. - Bihar,Population affected in million - Bihar,Damage to Crops - Area in m. ha. - Bihar,Damage to Crops - Value in Rs.Crore - Bihar,Damage to Houses - Nos. - Bihar,Damage to Houses - Value in Rs.Crore - Bihar,Cattle Lost Nos. - Bihar,Human live Lost Nos. - Bihar,Damage to Public Utilities in Rs.Crore - Bihar,"Total damages Crops, Houses & Public utilities in Rs.Crore (col.6+8+11) - Bihar"
0,1,1953,2.29,24.28,0.93,42.08,264924,7.420,47034,37,...,0.97,6.77,0.93,29,184300,6,33,5,1.5,36.5
1,2,1954,7.49,12.92,2.61,40.52,199984,6.561,22552,279,...,2.50,7.67,1.59,15,179451,5,1944,63,1.5,21.5
2,3,1955,9.44,25.27,5.31,77.80,1666789,20.945,72010,865,...,1.77,7.11,1.01,20.3,111356,1.12,57,44,0.205,21.625
3,4,1956,9.24,14.57,1.11,44.44,725776,8.047,16108,462,...,1.32,3.12,0.4,5.22,79879,0.51,138,32,Nil,5.73
4,5,1957,4.86,6.76,0.45,14.12,318149,4.979,7433,352,...,0.79,1.73,0.3,Neg,18812,Neg,18,7,Nil,Neg

In [8]:
df.columns

Index(['Sl.No\n - India', 'Year', 'Area affected in m.ha. - India',
       'Population affected in million - India',
       'Damage to Crops - Area in m. ha. - India',
       'Damage to Crops - Value in Rs.Crore - India',
       'Damage to Houses - Nos. - India',
       'Damage to Houses - Value in Rs.Crore - India',
       'Cattle Lost Nos. - India', 'Human live Lost Nos. - India',
       'Damage to Public Utilities in Rs.Crore - India',
       'Total Damages Crops, Houses & Public utilities in Rs.Crore (col.6+8+11) - India',
       'Area affected in m.ha. - Uttar Pradesh',
       'Population affected in million - Uttar Pradesh',
       'Damage to Crops - Area in m. ha. - Uttar Pradesh',
       'Damage to Crops - Value in Rs.Crore - Uttar Pradesh',
       'Damage to Houses - Nos. - Uttar Pradesh',
       'Damage to Houses - Value in Rs.Crore - Uttar Pradesh',
       'Cattle Lost Nos. - Uttar Pradesh',
       'Human live Lost Nos. - Uttar Pradesh',
       'Damage to Public Utilities in Rs.Crore - Uttar Pradesh',
       'Total damages Crops, Houses & Public utilities in Rs.Crore (col.6+8+11) - Uttar Pradesh',
       'Area affected in m.ha. - Madhya Pradesh',
       'Population affected in million - Madhya Pradesh',
       'Damage to Crops - Area in m. ha. - Madhya Pradesh',
       'Damage to Crops - Value in Rs.Crore - Madhya Pradesh',
       'Damage to Houses - Nos. - Madhya Pradesh',
       'Damage to Houses - Value in Rs.Crore - Madhya Pradesh',
       'Cattle Lost Nos. - Madhya Pradesh',
       'Human live Lost Nos. - Madhya Pradesh',
       'Damage to Public Utilities in Rs.Crore - Madhya Pradesh',
       'Total damages Crops, Houses & Public utilities in Rs.Crore (col.6+8+11) - Madhya Pradesh',
       'Area affected in m.ha. - Bihar',
       'Population affected in million - Bihar',
       'Damage to Crops - Area in m. ha. - Bihar',
       'Damage to Crops - Value in Rs.Crore - Bihar',
       'Damage to Houses - Nos. - Bihar',
       'Damage to Houses - Value in Rs.Crore - Bihar',
       'Cattle Lost Nos. - Bihar', 'Human live Lost Nos. - Bihar',
       'Damage to Public Utilities in Rs.Crore - Bihar',
       'Total damages Crops, Houses & Public utilities in Rs.Crore (col.6+8+11) - Bihar'],
      dtype='object')