In [2]:
import pandas as pd

In [3]:
df = pd.read_excel('dataset/flood_damage.xls')

WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

In [4]:
df.head()

,Sl.No\n - India,Year,Area affected in m.ha. - India,Population affected in million - India,Damage to Crops - Area in m. ha. - India,Damage to Crops - Value in Rs.Crore - India,Damage to Houses - Nos. - India,Damage to Houses - Value in Rs.Crore - India,Cattle Lost Nos. - India,Human live Lost Nos. - India,...,Area affected in m.ha. - Bihar,Population affected in million - Bihar,Damage to Crops - Area in m. ha. - Bihar,Damage to Crops - Value in Rs.Crore - Bihar,Damage to Houses - Nos. - Bihar,Damage to Houses - Value in Rs.Crore - Bihar,Cattle Lost Nos. - Bihar,Human live Lost Nos. - Bihar,Damage to Public Utilities in Rs.Crore - Bihar,"Total damages Crops, Houses & Public utilities in Rs.Crore (col.6+8+11) - Bihar"
0,1,1953,2.29,24.28,0.93,42.08,264924,7.420,47034,37,...,0.97,6.77,0.93,29,184300,6,33,5,1.5,36.5
1,2,1954,7.49,12.92,2.61,40.52,199984,6.561,22552,279,...,2.50,7.67,1.59,15,179451,5,1944,63,1.5,21.5
2,3,1955,9.44,25.27,5.31,77.80,1666789,20.945,72010,865,...,1.77,7.11,1.01,20.3,111356,1.12,57,44,0.205,21.625
3,4,1956,9.24,14.57,1.11,44.44,725776,8.047,16108,462,...,1.32,3.12,0.4,5.22,79879,0.51,138,32,Nil,5.73
4,5,1957,4.86,6.76,0.45,14.12,318149,4.979,7433,352,...,0.79,1.73,0.3,Neg,18812,Neg,18,7,Nil,Neg

In [6]:
df.rename(columns={'Sl.No\n-India':'India', 'Area affected in m.ha. - India':'Area affected-India', 'Population affected in million - India':'Population affected-India','Damage to Crops - Area in m. ha. - India':'Damage C.area-India','Damage to Crops - Value in Rs.Crore - India':'Damage C.value-India','Damage to Houses - Nos. - India':'Damage H.no.-India','Damage to Houses - Value in Rs.Crore - India':'Damage H.value-India','Cattle Lost Nos. - India':'Cattle lost-India','Human live Lost Nos. - India':'Human lost no.-India','Area affected in m.ha. - Bihar':'Area affected-Bihar','Population affected in million - Bihar':'Population affected-Bihar','Damage to Crops - Area in m. ha. - Bihar':'Damage C.area-Bihar','Damage to Crops - Value in Rs.Crore - Bihar':'Damage C.value-Bihar','Damage to Houses - Nos. - Bihar':'Damage H.no.-Bihar','Damage to Houses - Value in Rs.Crore - Bihar':'Damage H.value-Bihar','Human live Lost Nos. - Bihar':'Human lost no.-Bihar','Damage to Public Utilities in Rs.Crore - Bihar':'Damage public utilities-Bihar','Total damages Crops, Houses & Public utilities in Rs.Crore (col.6+8+11) - Bihar':'Total damage crops,Houses & Public utilities in Rs.crore'}, inplace=True)

In [7]:
df = df[:-4]

In [8]:
df.drop(columns=[df.columns[0]], inplace=True)

In [9]:
df.columns

Index(['Year', 'Area affected-India', 'Population affected-India',
       'Damage C.area-India', 'Damage C.value-India', 'Damage H.no.-India',
       'Damage H.value-India', 'Cattle lost-India', 'Human lost no.-India',
       'Damage to Public Utilities in Rs.Crore - India',
       'Total Damages Crops, Houses & Public utilities in Rs.Crore (col.6+8+11) - India',
       'Area affected in m.ha. - Uttar Pradesh',
       'Population affected in million - Uttar Pradesh',
       'Damage to Crops - Area in m. ha. - Uttar Pradesh',
       'Damage to Crops - Value in Rs.Crore - Uttar Pradesh',
       'Damage to Houses - Nos. - Uttar Pradesh',
       'Damage to Houses - Value in Rs.Crore - Uttar Pradesh',
       'Cattle Lost Nos. - Uttar Pradesh',
       'Human live Lost Nos. - Uttar Pradesh',
       'Damage to Public Utilities in Rs.Crore - Uttar Pradesh',
       'Total damages Crops, Houses & Public utilities in Rs.Crore (col.6+8+11) - Uttar Pradesh',
       'Area affected in m.ha. - Madhya Pradesh',
       'Population affected in million - Madhya Pradesh',
       'Damage to Crops - Area in m. ha. - Madhya Pradesh',
       'Damage to Crops - Value in Rs.Crore - Madhya Pradesh',
       'Damage to Houses - Nos. - Madhya Pradesh',
       'Damage to Houses - Value in Rs.Crore - Madhya Pradesh',
       'Cattle Lost Nos. - Madhya Pradesh',
       'Human live Lost Nos. - Madhya Pradesh',
       'Damage to Public Utilities in Rs.Crore - Madhya Pradesh',
       'Total damages Crops, Houses & Public utilities in Rs.Crore (col.6+8+11) - Madhya Pradesh',
       'Area affected-Bihar', 'Population affected-Bihar',
       'Damage C.area-Bihar', 'Damage C.value-Bihar', 'Damage H.no.-Bihar',
       'Damage H.value-Bihar', 'Cattle Lost Nos. - Bihar',
       'Human lost no.-Bihar', 'Damage public utilities-Bihar',
       'Total damage crops,Houses & Public utilities in Rs.crore'],
      dtype='object')

In [11]:
ind = df['Area affected-India']
bih = df['Damage C.area-Bihar']
up = df['Damage to Crops - Area in m. ha. - Uttar Pradesh']
mp = df['Damage to Crops - Area in m. ha. - Madhya Pradesh']

In [10]:
df

,Year,Area affected-India,Population affected-India,Damage C.area-India,Damage C.value-India,Damage H.no.-India,Damage H.value-India,Cattle lost-India,Human lost no.-India,Damage to Public Utilities in Rs.Crore - India,...,Area affected-Bihar,Population affected-Bihar,Damage C.area-Bihar,Damage C.value-Bihar,Damage H.no.-Bihar,Damage H.value-Bihar,Cattle Lost Nos. - Bihar,Human lost no.-Bihar,Damage public utilities-Bihar,"Total damage crops,Houses & Public utilities in Rs.crore"
0,1953,2.290,24.280,0.930,42.080,264924,7.420,47034,37,2.900,...,0.97,6.770,0.93,29,184300,6,33,5,1.5,36.5
1,1954,7.490,12.920,2.610,40.520,199984,6.561,22552,279,10.150,...,2.50,7.670,1.59,15,179451,5,1944,63,1.5,21.5
2,1955,9.440,25.270,5.310,77.800,1666789,20.945,72010,865,3.980,...,1.77,7.110,1.01,20.3,111356,1.12,57,44,0.205,21.625
3,1956,9.240,14.570,1.110,44.440,725776,8.047,16108,462,1.140,...,1.32,3.120,0.4,5.22,79879,0.51,138,32,Nil,5.73
4,1957,4.860,6.760,0.450,14.120,318149,4.979,7433,352,4.270,...,0.79,1.730,0.3,Neg,18812,Neg,18,7,Nil,Neg
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,2013,7.546,25.927,7.484,6378.078,699525,2032.830,163958,2180,38937.843,...,0.60,6.900,0.6,105.72,156518,24.02,6548,218,16.61,146.35
61,2014,12.775,26.505,8.007,7255.151,311325,581.978,60196,1968,7710.948,...,3.90,0.312,0.5,176.4,13662,10.78,34,158,5.4,192.58
62,2015,4.478,33.203,3.374,17043.948,3959191,8046.969,45597,1420,32200.182,...,NaN,0.279,0,NaN,518,0.694,1,27,62,62.694
63,2016,7.065,26.555,6.658,4052.723,278240,114.676,22367,1420,1507.926,...,0.41,8.823,0.41,443.53,16717,44.262,246,254,40.97,528.762
64,2017,0.000,17.915,5.124,6923.800,1151755,9176.480,5473,2015,2179.350,...,NaN,NaN,0.81,NaN,118410,NaN,NaN,514,NaN,0

In [ ]:
ind = df[ 'Population affected-India']
bih = df['Population affected-Bihar']
up = df['Population affected in million - Uttar Pradesh']
mp = df[ 'Population affected in million - Madhya Pradesh']

In [ ]:
ind = df['Human lost no.-India']
bih = df['Human lost no.-Bihar']
up = df['Human live Lost Nos. - Uttar Pradesh']
mp = df['Human live Lost Nos. - Madhya Pradesh']